---
- name:  Check if server certificates exist
  ansible.builtin.find:
    paths: "roles/image-registry-deploy/files/certs/dev/d{{ deployment_number }}/server"
    recurse: no
  delegate_to: localhost
  register: certificates_exists


- name: Get latest DoD CA Certs
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.shell: |
    bash getDoDCerts.sh "dev/d{{ deployment_number }}"
  delegate_to: localhost
  become: false
  args:
    chdir: "roles/image-registry-deploy/files/scripts"

- name: Generate self-signed server certificates
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.shell: |
    bash gen_certificates.sh "dev" "{{ deployment_number }}"
  delegate_to: localhost
  become: false
  args:
    chdir: "roles/image-registry-deploy/files/scripts/generate_certs"
  when: certificates_exists.files | length == 0

- name: Copy DoD CA certs
  ansible.builtin.copy:
    mode: preserve
    src: "certs/dev/d{{ deployment_number }}/trustca/"
    dest: "/etc/pki/ca-trust/source/anchors"
    owner: root
    ansible.builtin.group: root
  become: true

- name: Copy CA certs
  ansible.builtin.copy:
    mode: preserve
    src: "certs/certificate-authority/server-cacert.crt"
    dest: "/etc/pki/ca-trust/source/anchors"
    owner: root
    ansible.builtin.group: root
  become: true

- name: Update system ca trusted certs.
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: "update-ca-trust extract"
  become: true


- name: Copy server certs
  ansible.builtin.copy:
    mode: preserve
    src: "certs/dev/d{{ deployment_number }}/server/{{ image_registry_fqdn }}.crt"
    dest: "/opt/{{ image_registry_fqdn }}.crt"
    owner: root
    ansible.builtin.group: root
  become: true

- name: Copy server keys
  ansible.builtin.copy:
    mode: preserve
    src: "certs/dev/d{{ deployment_number }}/server/{{ image_registry_fqdn }}.key"
    dest: "/opt/{{ image_registry_fqdn }}.key"
    owner: root
    ansible.builtin.group: root
  become: true

- name: Create cert directory
  ansible.builtin.file:
    mode: '0770'
    state: directory
    path: "/etc/docker/certs.d/{{ image_registry_fqdn }}"
  delegate_to: localhost

- name: Create cert directory
  ansible.builtin.file:
    mode: '0770'
    state: directory
    path: "/etc/docker/certs.d/services.devops.sample.sample.mil"
  delegate_to: localhost

- name: Copy ca certs
  ansible.builtin.copy:
    mode: preserve
    src: "certs/certificate-authority/server-cacert.crt"
    dest: "/etc/docker/certs.d/{{ image_registry_fqdn }}/ca.crt"
    owner: root
    ansible.builtin.group: root
  become: true
  delegate_to: localhost

- name: Create a k8s namespace
  kubernetes.core.k8s:
    name: docker-registry
    api_version: v1
    kind: Namespace
    state: present
  run_once: true

- name: Delete existing Image Registry pull secret
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: "kubectl delete secret image-pull-secret -n docker-registry"
  ignore_errors: true
  run_once: true

- name: Create Image Registry pull secret
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.shell: |
    export ARTIFACTORY_USERNAME={{ devops_secrets.artifactoryUser }}
    export ARTIFACTORY_PASSWORD={{ devops_secrets.artifactoryPassword }}
    kubectl create secret docker-registry image-pull-secret --docker-server="{{ registry_url }}" --docker-username=$ARTIFACTORY_USERNAME --docker-password=$ARTIFACTORY_PASSWORD --namespace docker-registry
  run_once: true


# - name: Create registry-credentials secret
#   k8s:
#     definition: "{{ lookup('template', registry_secret_manifest) }}"
#   environment:
#     KUBECONFIG: /etc/kubernetes/admin.conf

# - name: Create Image Registry pull secret
#   kubernetes.core.k8s:
#     state: present
#     definition:
#       apiVersion: v1
#       kind: Secret
#       metadata:
#         name: image-pull-secret
#         namespace: docker-registry
#       type: kubernetes.io/dockerconfigjson
#       data:
#         .dockerconfigjson: "{{ lookup('template', docker_config_snippet) | to_json | b64encode }}"
#   environment:
#     KUBECONFIG: /etc/kubernetes/admin.conf
#   run_once: true

- name: Attach Image Pull secret to namespace default account
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: >
    kubectl patch serviceaccount default -p '{"imagePullSecrets": [{"name": "image-pull-secret"}]}' --namespace=docker-registry
  run_once: true


- name: Get image registry cert
  ansible.builtin.slurp:
    src: /opt/{{ image_registry_fqdn }}.crt
  register: registry_cert

- name: Get image registry key
  ansible.builtin.slurp:
    src: /opt/{{ image_registry_fqdn }}.key
  register: registry_key

- name: Image Registry TLS secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      type: kubernetes.io/tls
      metadata:
        name: "registry-cert"
        namespace: "docker-registry"
      data:
        tls.crt: "{{ registry_cert.content }}"
        tls.key: "{{ registry_key.content }}"
  run_once: true


# - name: Create Image Registry TLS secret
#   register: my_output
# changed_when: my_output.rc != 0
# ansible.builtin.command: >
#     kubectl create secret tls registry-cert
#     --cert=/opt/{{ image_registry_fqdn }}.crt
#     --key=/opt/{{ image_registry_fqdn }}.key
#     --namespace=docker-registry
#   environment:
#     KUBECONFIG: /etc/kubernetes/admin.conf
#   run_once: true

- name: Copy Registry Container files
  ansible.builtin.copy:
    mode: preserve
    src: "{{ item }}"
    dest: "/opt/{{ item }}"
  loop:
    - registry-pvc.yaml
    - registry-svc.yaml
    - registry-deploy.yaml
    - registry-config.yaml

# - name: Open Firewalld port for https
#   ansible.posix.firewalld:
#     port: "{{ https_port }}/tcp"
#     permanent: true
#     state: enabled

# - name: Open Firewalld Port
#   register: my_output
#   changed_when: my_output.rc != 0
#   ansible.builtin.command: firewall-cmd  --add-port={{ item }} --permanent
#   loop:
#     -  "{{ https_port }}/tcp"
#     - "5000/tcp"

- name: Add registry-ingress.yaml
  ansible.builtin.template:
    src: registry-ingress.yaml.j2
    dest: /opt/registry-ingress.yaml
    owner: root
    ansible.builtin.group: root
    mode: '0644'

# - name: Add registry-values.yaml
#   ansible.builtin.template:
#     src: registry-values.yaml.j2
#     dest: /opt/registry-values.yaml
#     owner: root
#     ansible.builtin.group: root
#     mode: '0644'

# - name: Deploy Docker Registry
#   kubernetes.core.helm:
#     name: docker-registry
#     binary_path: /usr/local/bin/helm
#     chart_ref: docker-registry
#     chart_repo_url: https://helm.twun.io
#     release_namespace: docker-registry
#     create_namespace: false
#     values_files:
#       - /opt/registry-values.yaml
#   run_once: true

- name: Deploy Docker Registry
  register: my_output
  changed_when: my_output.rc != 0
  ansible.builtin.command: kubectl apply -f {{ item }}
  loop:
    - /opt/registry-config.yaml
    - /opt/registry-pvc.yaml
    - /opt/registry-svc.yaml
    - /opt/registry-ingress.yaml
    - /opt/registry-deploy.yaml

# - name: Reboot system
#   ansible.builtin.reboot: