---
apiVersion: v1
kind: Secret
metadata:
  name: image-pull-secret
  namespace: docker-registry
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ lookup('template', docker_config_snippet) | to_json | b64encode }}"
