# - name: Install nfs-utils
#   dnf:
#     name:
#       - nfs-utils
#     disable_excludes: kubernetes
#     state: present

- name: Install nfs-utils
  command: dnf install {{ item }} -y
  loop:
     - nfs-utils

- name: Create nfs dir
  file:
    path: /srv/nfs
    state: directory
    mode: '0755'

- name: Add nfs-client /etc/export entry
  lineinfile:
    path: /etc/exports
    line: "/srv/nfs {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}(rw,no_subtree_check,no_root_squash)"
    state: present
    create: true

- name: Enable nfs-server service
  systemd_service:
    name: nfs-server
    state: started
    enabled: true

- name: Add graceful shutdown period information to kubelet configuration
  replace:
    path:  /var/lib/kubelet/config.yaml
    regexp: 'shutdownGracePeriod: 0s'
    replace: 'shutdownGracePeriod: 120s'

- name: Add graceful pod shutdown period information to kubelet configuration
  replace:
    path:  /var/lib/kubelet/config.yaml
    regexp: 'shutdownGracePeriodCriticalPods: 0s'
    replace: 'shutdownGracePeriodCriticalPods: 120s'

- name: Helm Install Nfs-provisioner for nfs storage class
  kubernetes.core.helm:
    name: nfs-subdir-external-provisioner
    binary_path: /usr/local/bin/helm
    chart_ref: nfs-subdir-external-provisioner
    chart_repo_url: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
    release_namespace: nfs-provisioner
    create_namespace: true
    values:
      nfs:
        server: "{{ hostvars['cp']['ansible_host'] }}"
        path: "/srv/nfs"
  run_once: true

- name: Exportfs
  command: exportfs -ar
  become: true

- name: Set nfs-client as default storage class
  command: >
    kubectl patch storageclass nfs-client -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'
  run_once: true

- name: Helm Install Nginx Ingress Controller
  kubernetes.core.helm:
    name: ingress-nginx
    binary_path: /usr/local/bin/helm
    chart_ref: ingress-nginx
    chart_repo_url: https://kubernetes.github.io/ingress-nginx
    release_namespace: ingress-nginx
    create_namespace: true
    values:
      controller:
        service:
          type: NodePort
          nodePorts:
            http: "{{ http_ingress_port }}"
            https: "{{ https_ingress_port }}"
        config:
          enable-ssl-passthrough: "true"
  run_once: true

- name: Download k9s for mananging Cluster
  get_url:
    url: "https://github.com/derailed/k9s/releases/download/{{ k9s_version }}/k9s_Linux_{{ processor_type }}.tar.gz"
    dest: "/opt/k9s_Linux_{{ processor_type }}.tar.gz"

- name: Extract k9s
  unarchive:
    src: "/opt/k9s_Linux_{{ processor_type }}.tar.gz"
    dest: "/opt/"
    remote_src: true

- name: Make k9s PATH accessible
  copy:
    src: "/opt/k9s"
    dest: "/usr/local/bin/k9s"
    mode: '0755'
    remote_src: true

- name: Helm Install metrics-server
  kubernetes.core.helm:
    name: metrics-server
    binary_path: /usr/local/bin/helm
    chart_ref: metrics-server
    chart_repo_url: https://kubernetes-sigs.github.io/metrics-server/
    release_namespace: kube-system
    create_namespace: false
    values:
      args:
        - "--kubelet-insecure-tls"
  run_once: true

- name: Install Kubernetes Gateway Resources
  shell: >
    kubectl get crd gateways.gateway.networking.k8s.io &> /dev/null ||  kubectl apply -f https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.0/standard-install.yaml
  run_once: true

- name: Helm Install Istio Base
  kubernetes.core.helm:
    name: istio-base
    binary_path: /usr/local/bin/helm
    chart_ref: base
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    release_namespace: istio-system
    create_namespace: true
    values:
      defaultRevision: default
  run_once: true

- name: Helm Install Istiod
  kubernetes.core.helm:
    name: istiod
    binary_path: /usr/local/bin/helm
    chart_ref: istiod
    chart_repo_url: https://istio-release.storage.googleapis.com/charts
    release_namespace: istio-system
    create_namespace: true
    wait: true
  run_once: true

# - name: Helm Install Istio Ingress Gateway
#   kubernetes.core.helm:
#     name: istio-ingress
#     binary_path: /usr/local/bin/helm
#     chart_ref: gateway
#     chart_repo_url: https://istio-release.storage.googleapis.com/charts
#     chart_version: 1.26.2
#     release_namespace: istio-ingress
#     create_namespace: true
#   environment:
#     KUBECONFIG: /etc/kubernetes/admin.conf


- name: Helm Install Istio Ingress Gateway
  shell: |
    /usr/local/bin/helm  upgrade istio-ingress gateway -n istio-ingress --repo=https://istio-release.storage.googleapis.com/charts -i  --create-namespace --set service.type=NodePort --set service.ports[0].name=https --set service.ports[0].port=443 --set service.ports[0].targetPort=8443 --set service.ports[0].nodePort={{ istio_ingress_port }}  --skip-schema-validation
  run_once: true





# - name: Add sample Istio Files
#   template:
#     src: istio-sample-gw.yaml.j2
#     dest: /opt/istio-sample-gw.yaml
#     owner: root
#     group: root
#     mode: '0644'


# - name: Apply sample Istio Files
#   command: kubectl apply -f /opt/istio-sample-gw.yaml