---
- name: Ensure dnf core is installed
  command: dnf -y install dnf-plugins-core


- name: Add Docker repo
  command: dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo


- name: Install docker packages
  command: dnf install -y {{ item }}
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin

- name: Ensure Docker is started
  systemd:
    name: docker
    daemon_reload: true
    enabled: true
    state: started


- name: Ensure group "docker" exists
  group:
    name: docker
    state: present


- name: Ensure user is in Docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true


- name: Make new group membership active without starting a new session
  command: newgrp docker
